@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&family=Roboto+Condensed:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&family=Play&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid crimson; */
}


.main-container{
    width: 100%;
    min-height: 100vh;
    background-image: url(./assets/nikeor-Photoroom.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #0F2850; */
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid gray;
}

nav img{
    margin: 15px;
    margin-left: 100px; 
}

.nav-icons{
    display: flex;
    margin-right: 50px;
}

.nav-links ul{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    list-style: none;
}

.nav-links ul li{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    /* height: 50px; */
    padding: 10px 20px;
    margin-top: 10px;
}

.nav-icons div{
    height: 40px;
    width: 40px;
    border-radius: 22px;
    background-color: crimson;
    margin-left: 30px;
    margin-top: 8px;
}

.nav-icons div:hover{
    background-color: #FCBC00;
}

.nav-icons div:hover i{
    color: black;
}

.nav-icons i{
    font-size: 18px;
    color: white;
}

.search i{
    margin: 10px;
}

.cart i{
    margin-top: 11px;
    margin-left: 9.5px;
}

/* CONTAINER LEFT */

.cont-left{
    width: 30%;
}

.cont-left h1{
    font-family: 'Play', sans-serif;    color: white;
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 300;
    margin-top: 17%;
    margin-left: 40%;
    color: #E9E2DA;
    transform: scaleX(1.15);
}

.cont-left p{
    color: white;
    margin-left:35%;
    margin-top: 20px;
    font-size: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 30px;
}

.conts{
    display: flex;
    justify-content: space-between;
}

.cont-right{
    margin-right: 10%;
    margin-top: 15%;
}

.cont-right h3{
    color: #FCBC00;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px 10px;
}

.cont-right h2{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px 10px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.cont-right h4{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}

/* cards */

.cards{
    position: absolute;
    width: 100%;
    bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 0px 30px;
    overflow: hidden;
}

.card{
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    position: relative;

}

.card img{
    position: absolute;
    top: 7px;
    left: -50px;
    width: 175px;
    transform: rotate(-15deg);
    /* overflow: hidden; */
}

.card-text{
    margin-left: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.card-text h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.card-text h4{
    color: rgb(77, 77, 77);
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.slider{
    width: 120px;
}

@media (max-width:1220px) {
   
    .main-container{
        height: fit-content;
    }
    
    .card:nth-child(4){
        display: none;
    }

}

@media (max-width:990px){

    .card:nth-child(3){
        display: none;
    }

    .nav-links{
        display: none;
    }
}

@media (max-width:600px) {
    nav img{
        margin: 15px;
        margin-left: 30px; 
    }
    
}



